[submodule "deps/lvgl"]
	path = deps/lvgl
	url = https://github.com/lvgl/lvgl.git
	shallow = true

[submodule "deps/libsixel"]
	path = deps/libsixel
	url = https://github.com/saitoha/libsixel.git
	shallow = true
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "deps/libvterm"]
	path = deps/libvterm
	url = https://github.com/neovim/libvterm
	shallow = true
